<h2>Edit <%= current_user.first_name %></h2>
<h1>This is the Original EditPage</h1>

<%= form_for(current_user, url: user_path(current_user), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :first_name%><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name%><br />
    <%= f.text_field :last_name, autofocus: false %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize:"200x200") %>
  <%end%>

  <%= f.fields_for :address do |a| %>
    <div class="field">
      <%= a.label :street %><br />
      <%= a.text_field :street %>
    </div>

    <div class="field">
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>

    <div class="field">
      <%= a.label :state %><br />
      <%= a.text_field :state %>
    </div>

    <div class="field">
      <%= a.label :country %><br />
      <%= a.text_field :country %>
    </div>

    <div class="field">
      <%= a.label :zip_code %><br />
      <%= a.text_field :zip_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back to home", :root %>

